  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>
  <form action="/cool_url" method="GET" id="mundo">
    <input type="text" name="first field">
    <br><br>
    <input type="submit" value="Submit">
   </form>
   <br><br>
   <form action="/cool_url" method="POST" id="hola">
     <input type="text" name="post[title]">
     <input type="text" name="post[price]">
     <textarea name="post[description]" id="hola"></textarea>
     <br><br>
     <input type="submit" value="Submit">
   </form>
  
